<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_09" class="java.beans.XMLDecoder">
 <object class="Settings.Settings">
  <void property="databaseHost">
   <string>10.10.64.190</string>
  </void>
  <void property="databaseName">
   <string>book</string>
  </void>
  <void property="databasePasswordEncrypted">
   <string>tWWix05TELzxxqw4JJljVA==</string>
  </void>
  <void property="databasePort">
   <int>3306</int>
  </void>
  <void property="databaseType">
   <string>MySQL</string>
  </void>
  <void property="databaseUser">
   <string>book</string>
  </void>
 </object>
</java>
